<!DOCTYPE html
  PUBLIC "XSLT-compat">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Furniture HomeStore Pricelist</title>
       <style>
				body{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;background-color:#fff;margin:5px;text-align:left;color:#523819; background-image: url(img/background.webp); position: absolute;}
				h2{font-size:140%;color:#0d3427;margin-top:10px}
				p{font-size:80%;color:black}
				table{border-color:#000;border-width:thin;border-collapse:collapse;width:75%; ;}
				th{border-color:#000;font-size:120%;color:black}
				td{border-color:#000;font-size:100%;color:black;padding:5px}
				img{float:left;margin-left:10px;margin-right:10px;border:0}
				.indent{margin-left:78px}
				</style><script>
				var gEntreeCount = 0;
				// returns a number that represents the sum of all the selected menu
				// item prices.
				function calculateBasket(idFurnitureTable) {
					var fBasketTotal = 0.0;
					var i = 0;
					// find the table tag
					var oTable = document.getElementById(idFurnitureTable);
					// go through the table and add up the prices of all
					// the selected items. The code takes advantage of the 
					// fact that each checkbox has a corresponding row in
					// the table, and the only INPUT tags are the checkboxes.
					var aCBTags = oTable.getElementsByTagName('INPUT');
					for (i = 0; i < aCBTags.length; i++) {
						// is this menu item selected? it is if the checkbox is checked
						if (aCBTags[i].checked) {
							// get the checkbox' parent table row
							var oTR = getParentTag(aCBTags[i], 'TR');
							// retrieve the price from the price column, which is the third column in the table
							var oTDPrice = oTR.getElementsByTagName('TD')[2];
							// the first child text node of the column contains the price
							fBasketTotal += parseFloat(oTDPrice.firstChild.data);
						};
					};
					// return the price as a decimal number with 2 decimal places
					return Math.round(fBasketTotal * 100.0) / 100.0;
				};

				// This function either turns on or off the row highlighting for sustainable
				// items (depending on the value of bShowSustainable)
				function highlightSustainable(idTable, bShowSustainable) {
					// if bShowSustainable is true, then we're highlighting sustainable
					var i = 0;
					var oTable = document.getElementById(idTable);
					var oTBODY = oTable.getElementsByTagName('TBODY')[0];
					var aTRs = oTBODY.getElementsByTagName('TR');
					// walk through each of the table rows and see if it has a 
					// "sustainable" attribute on it.
					for (i = 0; i < aTRs.length; i++) {
						if (aTRs[i].getAttribute('sustainable') && aTRs[i].getAttribute('sustainable') == "true") {
							if (bShowSustainable) {
								aTRs[i].style.backgroundColor = "lightGreen";
							} else {
								aTRs[i].style.backgroundColor = "";
							};
						};
					};
				};

				// Utility function for getting the parent tag of a given tag
				// but only of a certain type (i.e. a TR, a TABLE, etc.)
				function getParentTag(oNode, sParentType) {
					var oParent = oNode.parentNode;
					while (oParent) {
						if (oParent.nodeName == sParentType)
							return oParent;
						oParent = oParent.parentNode;
					};
					return oParent;
				};
				window.addEventListener("load", function() {
					document.forms[0].txtBasketAmt.value = calculateBasket('furnitureTable');
					document.querySelector("#calcBasket").addEventListener("click", function() {
						document.forms[0].txtBasketAmt.value = calculateBasket('furnitureTable');
					});
					document.querySelector("#showSustainable").addEventListener("click", function() {
						highlightSustainable('furnitureTable', this.checked);
					});
				}); 
				</script></head>
   <body>
      <table id="furnitureTable" border="1" class="indent">
         <thead>
            <tr>
               <th colspan="3">Furniture HomeStore</th>
            </tr>
            <tr>
               <th>Select</th>
               <th>Item</th>
               <th>Price</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td colspan="3">Living Room</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Boom Home Theatre Unit</td>
               <td align="right">1500.00</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Recliner Sofa</td>
               <td align="right">1000.00</td>
            </tr>
            <tr sustainable="true">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>TV Unit</td>
               <td align="right">700.00</td>
            </tr>
            <tr>
               <td colspan="3">Bedroom</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Bed Frame</td>
               <td align="right">800.00</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Mattress</td>
               <td align="right">700.00</td>
            </tr>
            <tr sustainable="true">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Bed Sheets</td>
               <td align="right">99.00</td>
            </tr>
            <tr>
               <td colspan="3">Kitchen</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Cooktop</td>
               <td align="right">900.00</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Fridge</td>
               <td align="right">1100.00</td>
            </tr>
            <tr sustainable="true">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Cookware</td>
               <td align="right">180.00</td>
            </tr>
            <tr>
               <td colspan="3">Outdoor</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Outdoor Lounge Setting</td>
               <td align="right">2000.00</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Outdoor Armchair</td>
               <td align="right">900.00</td>
            </tr>
            <tr sustainable="true">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Poolside Hammock</td>
               <td align="right">109.00</td>
            </tr>
            <tr>
               <td colspan="3">Bathroom</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Shower Head</td>
               <td align="right">250.00</td>
            </tr>
            <tr sustainable="false">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Toilet Seat</td>
               <td align="right">400.00</td>
            </tr>
            <tr sustainable="true">
               <td align="center"><input name="item0" type="checkbox"></td>
               <td>Shelves and Holders</td>
               <td align="right">70.00</td>
            </tr>
         </tbody>
      </table>
      <form class="indent">
         <p><input type="button" name="btnCalcBasket" value="Calculate Basket" id="calcBasket">
                Total: €
                <input type="text" name="txtBasketAmt"><input type="checkbox" name="cbOpts" value="isSustainable" id="showSustainable"><label for="showSustainable">Highlight Sustainable Options</label></p>
      </form>
   </body>
</html>